{% extends 'base.html' %}

{% block head %}
<title>ToDo APP</title>
{% endblock %}

{% block body %}
    <section class="App Content">
        <h1>ToDo Social APP</h1>

        <!-- add logic for parsing task-->
         {% if tasks | length < 1 %}
         <h2>No current tasks. Please add a task below!</h2>
            {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <!-- use string for time and request year, month, day format -->
                <td>{{task.created.strftime("%Y-%m-%d")}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/edit/{{task.id}}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task" id="btn_add">
        </form>
    </section>
{% endblock %}
