{% extends 'base.html' %}


{% block head %}
<h5>ToDo APP Login Page</h5>
{% endblock %}


{% block body %}
<!-- login / registration form -->
<section class="bodyContainer">
    <h1>Welcome</h1>
    <form id="auth-form" action="{{ url_for('login') }}" method="POST">
        <!-- username field -->
        <input type="text"
               name="username"
               placeholder="Username"
               class="inputField"
               required>

        <!-- password field -->       
        <input type="password"
               name="password"
               placeholder="Password"
               class="inputField"
               required>

        <!-- login / register buttons -->       
        <input type="submit"
               value="Login"
               class="btn btnLogin" 
               onclick="setActionForm('login')">

        <input type="button"
               value="Register"
               class="btn btnLogin"
               onclick="setActionForm('register')">
    </form>
</section>

<!-- javascript to link login / registration page to prevent page redundancy -->
<script>
       function setActionForm(action){
              let form = document.getElementById('auth-form');
              if (action === 'login'){
                     form.action = "{{ url_for('login')}}";
                     form.method = "POST";
                     form.submit();              
              } else if (action === 'register'){
                     form.action = "{{ url_for('register')}}";
                     form.method = "POST";
                     form.submit();
              }
       }
</script>
{% endblock %}