{% extends 'base.html' %}

{% block head %}
  <title>TaskSmash - ToDo Done Different</title>
{% endblock %}

{% block body %}
  <section class="homebody">
    <div class="homemain-content">
      <h1 class="homeh1">TaskSmash</h1>
      <h3 class="homeh3">ToDo Done Different</h3>
      <h4 class="homeh4">Your Tasks now Socialized</h4>
      <h6 class="homeh6">
        Explore inspiring tasks and tackle your to-dos with creativity and fun.
      </h6>
      <button class="learn-more-btn">
        <a href="{{ url_for('about') }}">Learn More</a>
      </button>
    </div>
  </section>
{% endblock %}