{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<section class="App Content">
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ login_form.hidden_tag() }}
        <p>
            {{ login_form.username.label }}<br>
            {{ login_form.username(size=32) }}<br>
            {% for error in login_form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ login_form.password.label }}<br>
            {{ login_form.password(size=32) }}<br>
            {% for error in login_form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <button type="submit">Login</button>
    </form>
    
    <p>
        <a href="{{ url_for('reset_request') }}">Forgot your password?</a>
    </p>

    {% if show_create_account %}
    <p>
        <a href="{{ url_for('register') }}" class="btn-create-account">Create New Account</a>
    </p>
    {% endif %}
</section>
{% endblock %}